html
	direction: rtl
	font-family: 'Shabnam', Tahoma, sans-serif !important
	max-width: 100%
	overflow-x: hidden
	box-sizing: border-box
	button,
	input,
	optgroup,
	select,
	textarea
		font-family: 'Shabnam', Tahoma, sans-serif !important

*
	box-sizing inherit
	&:before
		box-sizing inherit
	&:after
		box-sizing inherit

h1, h2, h3, h4, p, a
	margin 0

body
	margin: 0
	padding: 0
