body
  direction rtl
  font-family 'Vazir', Tahoma, Verdana, Segoe, sans-serif !important

.farsiDirection
  direction: rtl
  font-family 'Vazir', Tahoma, Verdana, Segoe, sans-serif !important
  padding-right: 1rem
  padding-left: 0
