.map-center
  width: 65%
  height: calc(100vh - 3.5rem)
  position: fixed
  top: 3.5rem
  left: 0

.box-center
  display: flex
  flex-flow: row wrap
  width: 35%
  color: rgb(0, 0, 0)
  .box-center-child
    width: 100%
    min-height: 5rem
    background-color: white
    &:nth-child(2n)
      background-color: rgb(242, 242, 242)
