.selec-box-wrapper
  width: 100%
  display flex
  flex-flow: row wrap
  margin-bottom: 1rem
  justify-content: center
  .select-box
    cursor: pointer
    color: rgb(66, 66, 66)
    width: 7.5rem
    height: 7.5rem
    background-color: white
    border-radius: 0.5rem
    box-shadow: 0.15rem 0.15rem 1rem rgba(0, 0, 0, 0.2)
    margin-left: 1rem
    padding: 1rem
    text-align: center

  .active-select-box
    background-color: sabz(1)
    color: white

  .pinteb-icon
    font-size: 4rem
