html {
  direction: rtl;
  font-family: 'Shabnam', Tahoma, sans-serif !important;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}
html button,
html input,
html optgroup,
html select,
html textarea {
  font-family: 'Shabnam', Tahoma, sans-serif !important;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
}
.grid {
  position: relative;
  border-radius: 16px;
  background: inherit;
  margin: 1rem 0;
  overflow: hidden;
  border: 2px solid #e8e800;
  display: flex;
  flex-flow: row wrap;
  background-color: rgba(181,255,255,0.2);
}
.grid h1 {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 30px 10px 0;
  margin: 0;
  line-height: 40px;
  background-color: rgba(1,89,91,0.5);
  color: #fff;
  width: 100%;
  border-bottom: 2px solid rgba(255,255,206,0.7);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  text-align: center;
}
.grid .poshtzamine {
  width: 100%;
  padding: 20px 32px 32px 32px;
  overflow: hidden;
  font-size: 0.92rem;
  margin-top: 60px;
}
.grid .poshtzamine .matnmahsol {
  text-align: center;
}
.grid .poshtzamine .darbareaks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.grid .poshtzamine .darbareaks a {
  position: relative;
  margin-bottom: 1rem;
}
.grid .poshtzamine .darbareaks a img {
  width: 100%;
  cursor: pointer;
  border-radius: 1rem;
}
.grid .poshtzamine .gallery-aks {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 1rem;
}
.grid .poshtzamine .gallery-aks >* {
  width: 100%;
}
.grid .poshtzamine .gallery-aks >* a {
  position: relative;
  margin-bottom: 1rem;
}
.grid .poshtzamine .gallery-aks >* a img {
  border-radius: 0.5rem;
}
.grid .poshtzamine .gallery-aks .aks-nemayesh img {
  width: 100%;
}
.grid .poshtzamine .gallery-aks .aks-zirnemayesh {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  position: relative;
}
.grid .poshtzamine .gallery-aks .aks-zirnemayesh img {
  width: 100%;
}
.grid .poshtzamine .gallery-aks .aks-zirnemayesh img.active {
  opacity: 0.5;
  border: 2px solid #2f2933;
}
.grid .poshtzamine .gallery-aks .ezafaks-gallery {
  position: relative;
  height: 3rem;
}
.grid .poshtzamine .rangaks {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.grid .poshtzamine .rangaks .ezaks {
  position: relative;
}
.grid .poshtzamine .rangaks .ezaks a {
  position: relative;
  margin-bottom: 1rem;
}
.grid .poshtzamine .rangaks .ezaks a img {
  width: 100%;
  cursor: pointer;
  border-radius: 1rem;
}
.grid .pakadr {
  padding: 0 1rem 1rem 1rem;
  background-color: rgba(255,255,255,0.75);
  text-align: left;
}
.g-sabz h1 {
  background-color: #003f36;
}
.g-firoz h1 {
  background-color: #178375;
}
.gimg {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
}
.gimg .grid-dore {
  overflow: hidden;
  background-color: rgba(255,255,255,0.75);
  border-radius: 16px;
  box-shadow: 8px 8px 20px rgba(0,0,0,0.75);
  margin: 0.6rem 0;
  min-height: 20rem;
  width: 24%;
}
.gimg .grid-dore .dore {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  position: relative;
}
.gimg .grid-dore .dore .paddah {
  width: 100%;
  padding: 0.5rem 5% 0 5%;
}
.gimg .grid-dore .dore .aksdore {
  position: relative;
  width: 100%;
  min-height: 15rem;
  max-height: 16rem;
  border-bottom: 1px solid #2f2933;
}
.gimg .grid-dore .dore .khali-margin {
  margin-top: 4rem;
  width: 100%;
}
.gimg .grid-dore .dore .sarfasl {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #2f2933;
  margin-top: -2.5rem;
  padding-top: 4rem;
  color: #fff;
  z-index: 1;
}
.gimg .grid-dore .dore .sarfasl .namedore {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
}
.gimg .grid-dore .dore .sarfasl .namedore .namedore-esm-asli {
  width: 100%;
  background-color: rgba(0,81,83,0.7);
  font-size: 1.5rem;
  line-height: 1.5;
  min-height: 2.5rem;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.75);
  margin-bottom: 0.5rem;
}
.gimg .grid-dore .dore .ezafOstad {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #2f2933;
}
.gimg .grid-dore .dore .ezafOstad .ezafSarparast {
  width: 50%;
}
.gimg .grid-dore .dore .ezafOstad .ezafOstadto {
  width: 50%;
}
.gimg .grid-dore .dore .sabtename {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-items: center;
  text-align: center;
}
.gimg .grid-dore .dore .sabtename .sabtenameto {
  width: 50%;
}
.gimg .grid-dore .dore .sabtename .jozeyat {
  width: 50%;
}
.gimg .grid-img {
  overflow: hidden;
  background-color: rgba(255,255,255,0.75);
  border-radius: 16px;
  box-shadow: 8px 8px 20px rgba(0,0,0,0.75);
  margin: 0.6rem 0;
  min-height: 20rem;
}
.gimg .grid-img .gall {
  text-align: center;
  color: #fff;
  position: relative;
  height: 100%;
}
.gimg .grid-img .gall .aksgall {
  overflow: hidden;
  position: absolute;
  top: 0;
}
.gimg .grid-img .gall .aksgall img {
  width: 100%;
  cursor: pointer;
}
.gimg .grid-img .gall .pagall {
  height: 4rem;
  width: 100%;
  padding-top: 0.6rem;
  position: absolute;
  bottom: 0;
  background: rgba(1,162,166,0.7);
  border-top: 2px solid #01a2a6;
}
.gimg .grid-img .gall .pagall h2 {
  margin: 0;
}
.gimg .grid-img .akhbar .aksakhbar {
  max-height: 15rem;
  overflow: hidden;
  position: relative;
}
.gimg .grid-img .akhbar .aksakhbar img {
  width: 100%;
}
.gimg .grid-img .akhbar .paein {
  background-color: rgba(255,255,255,0.75);
  border-top: 2px solid #838383;
  width: 100%;
  padding: 1rem 1rem 0.5rem 1rem;
}
.gimg .grid-img .akhbar .paein .sarfasl {
  width: 100%;
  position: relative;
  height: 3rem;
  margin-bottom: 2rem;
}
.gimg .grid-img .akhbar .paein .sarfasl h2 {
  margin: 0;
  position: absolute;
  right: 3.5rem;
  top: 0.8rem;
}
.gimg .grid-img .akhbar .paein .sarfasl .tarikh {
  position: absolute;
  width: 3rem;
  right: 0;
  top: 0;
  color: #fff;
  text-align: center;
}
.gimg .grid-img .akhbar .paein .sarfasl .tarikh .roz {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  padding: 0.5rem;
  background-color: #01a2a6;
}
.gimg .grid-img .akhbar .paein .sarfasl .tarikh .mah {
  width: 100%;
  position: absolute;
  top: 2rem;
  right: 0;
  padding: 0.5rem;
  background-color: #bebebe;
}
.gimg .grid-img .akhbar .paein .matn {
  width: 100%;
  margin-bottom: 1rem;
  color: #605f5f;
}
.gimg .grid-img .akhbar .paein .edame {
  width: 100%;
  height: 2rem;
  position: relative;
}
.gimg .grid-img .seta {
  display: flex;
  flex-direction: column;
  flex-grow: wrap;
  text-align: center;
}
.gimg .grid-img .seta h2 {
  padding: 1rem 0 10px 0;
  height: 3.5rem;
  font-size: 1.4rem;
  margin-bottom: 0;
  color: #131e28;
  border-bottom: 1px solid #838383;
  width: 100%;
}
.gimg .grid-img .seta .armicon {
  height: 15rem;
}
.gimg .grid-img .seta .armicon i {
  font-size: 12rem;
}
.gimg .grid-img .seta .paein {
  border-top: 1px solid #838383;
  width: 100%;
  position: relative;
  height: 3.5rem;
}
.moarefi {
  text-align: center;
}
.moarefi img {
  width: 80%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.moarefi .rastchin {
  text-align: right;
}
.akhbarjoz img {
  width: 100%;
  border-radius: 1rem;
}
.akhbarjoz .tarikh-akhbar {
  color: #fff;
  text-align: center;
  padding-top: 0;
  margin-top: 0;
}
.akhbarjoz .tarikh-akhbar .mah-akhbar {
  width: 4rem;
  height: 2.7rem;
  margin-top: -0.5rem;
  background-color: #018285;
  float: right;
  padding-top: 0.5rem;
}
.akhbarjoz .tarikh-akhbar .roz-akhbar {
  width: 3.2rem;
  height: 2.7rem;
  margin-right: 3rem;
  margin-top: -0.5rem;
  background-color: #1b9989;
  float: right;
  padding-top: 0.6rem;
}
.akhbarjoz .matn-akhbar {
  margin-top: 3rem;
  padding: 0 1.5rem;
}
.akhbarjoz .matn-akhbar h2 {
  font-size: 1.5rem;
}
.akhbarjoz .matn-akhbar >* {
  border-bottom: 1px solid #2f2933;
  margin-bottom: 1.5rem;
}
.akhbarjoz .matn-akhbar .bakhsh-dore ul li {
  list-style: none;
  margin-bottom: 0.5rem;
}
.akhbarjoz .matn-akhbar .bakhsh-dore ul li h3 {
  font-size: 1.2rem;
  padding-right: 0.5rem;
}
.ghabvorod {
  max-width: 40rem;
  margin: 0 auto;
  text-align: center;
}
.color-input {
  padding: 2rem;
}
.color-input input {
  width: 100%;
  height: 2rem;
}
.txc {
  text-align: center;
}
.dotaei {
  display: flex;
  flex-flow: row wrap;
  margin: 0.5rem 0;
  align-items: center;
  justify-content: space-around;
}
.dotaei >* {
  width: 47%;
}
.grid h1 {
  font-size: 15px;
}
@media (min-width: 390px) {
  .grid h1 {
    font-size: 20px;
  }
}
.grid .poshtzamine .darbareaks a {
  flex-basis: 100%;
}
@media (min-width: 700px) {
  .grid .poshtzamine .darbareaks a {
    flex-basis: 48%;
  }
}
@media (min-width: 1200px) {
  .grid .poshtzamine .darbareaks a {
    flex-basis: 32%;
  }
}
.grid .poshtzamine .rangaks a {
  flex-basis: 100%;
}
@media (min-width: 600px) {
  .grid .poshtzamine .rangaks a {
    flex-basis: 48%;
  }
}
@media (min-width: 900px) {
  .grid .poshtzamine .rangaks a {
    flex-basis: 32%;
  }
}
@media (min-width: 1300px) {
  .grid .poshtzamine .rangaks a {
    flex-basis: 23%;
  }
}
.grid .poshtzamine .gallery-aks .aks-zirnemayesh a {
  flex-basis: 23%;
}
@media (min-width: 600px) {
  .grid .poshtzamine .gallery-aks .aks-zirnemayesh a {
    flex-basis: 15%;
  }
}
@media (min-width: 900px) {
  .grid .poshtzamine .gallery-aks .aks-zirnemayesh a {
    flex-basis: 10%;
  }
}
@media (min-width: 1300px) {
  .grid .poshtzamine .gallery-aks .aks-zirnemayesh a {
    flex-basis: 8%;
  }
}
.gimg .grid-img {
  flex-basis: 100%;
}
@media (min-width: 700px) {
  .gimg .grid-img {
    flex-basis: 48%;
  }
}
@media (min-width: 1200px) {
  .gimg .grid-img {
    flex-basis: 32%;
  }
}
.gimg .grid-dore {
  flex-basis: 100%;
}
@media (min-width: 700px) {
  .gimg .grid-dore {
    flex-basis: 48%;
  }
}
@media (min-width: 950px) {
  .gimg .grid-dore {
    flex-basis: 32%;
  }
}
@media (min-width: 1300px) {
  .gimg .grid-dore {
    flex-basis: 24%;
  }
}
.dogme {
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  display: inline-block;
  min-height: 45px;
  min-width: 42px;
  padding: 3px;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  text-align: center;
  z-index: 1;
  font-size: 1rem;
  line-height: 3;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.75);
  margin-left: 1rem;
}
font-family 'Vazir':last-child,
Tahoma:last-child,
Verdana:last-child,
Segoe:last-child,
sans-serif !important:last-child {
  margin-left: 0;
}
font-family 'Vazir'::after,
Tahoma::after,
Verdana::after,
Segoe::after,
sans-serif !important::after {
  content: "";
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
  transition: all 0.35s;
}
font-family 'Vazir':hover::after,
Tahoma:hover::after,
Verdana:hover::after,
Segoe:hover::after,
sans-serif !important:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}
font-family 'Vazir':before,
Tahoma:before,
Verdana:before,
Segoe:before,
sans-serif !important:before {
  font-size: 25px;
}
font-family 'Vazir':active,
Tahoma:active,
Verdana:active,
Segoe:active,
sans-serif !important:active {
  top: 2px;
  color: #fff;
}
.icon-matn {
  white-space: nowrap;
  outline: none;
  border: none;
  background-color: inherit;
  cursor: pointer;
  width: 7.7rem;
  height: 2.8rem;
  position: relative;
}
.icon-matn:active {
  top: 2px;
  color: #fff;
}
.icon-matn i {
  overflow: hidden;
  width: 50px;
  height: 50px;
  z-index: 1;
  padding: 0.2rem 0.7rem;
  background-color: #016164;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #32f9fe;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.75);
}
.icon-matn i:before {
  padding: 0.5rem 0.2rem 0 0.2rem;
  font-size: 25px;
}
.icon-matn i::after {
  content: "";
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
  background-color: rgba(50,249,254,0.8);
  border-radius: 50%;
  left: -50%;
  right: -50%;
  top: -50%;
  bottom: -50%;
  transform: scale(0, 0);
  transition: all 0.35s;
}
.icon-matn span {
  overflow: hidden;
  background-color: #01a2a6;
  color: #fff;
  padding: 0.5rem 1.5rem 0.5rem 1rem;
  border-radius: 0.5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: absolute;
  z-index: 0;
  top: 0.3rem;
  right: 1.9rem;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.75);
}
.icon-matn span::after {
  content: "";
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
  background-color: rgba(50,249,254,0.8);
  top: 0;
  bottom: 0;
  left: 100%;
  right: -100%;
}
.icon-matn:hover i::after {
  transform: scale(1, 1);
  transition: all 0.3s ease-out;
}
.icon-matn:hover span::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.3s;
}
.bamatn:before {
  position: absolute;
  height: 100%;
  right: 8px;
  top: 0;
  font-size: 30px;
  line-height: 1.8;
  border-left: 2px solid rgba(255,255,255,0.5);
  padding-left: 8px;
}
.temamsafe {
  width: 100%;
  margin-bottom: 0.5rem;
  margin-left: 0;
}
.i-sabz {
  background-color: #00473d !important;
  border: 1px solid #009d87 !important;
  overflow: hidden;
}
.i-sabz:hover {
  color: #ffffb8 !important;
}
.i-sabz::after {
  background-color: rgba(0,47,41,0.8) !important;
}
.i-ghermez {
  background-color: #700 !important;
  border: 1px solid #d90000 !important;
  overflow: hidden;
}
.i-ghermez:hover {
  color: #00e4c4 !important;
}
.i-ghermez::after {
  background-color: rgba(130,0,0,0.8) !important;
}
.i-firoz {
  background-color: #5fe3d1;
  border: 1px solid #29d9c2;
}
.i-firoz:hover {
  color: #009d87;
}
.i-firoz::after {
  background-color: rgba(23,131,117,0.8);
}
.i-abi {
  background-color: #01797c !important;
  border: 1px solid #01a2a6 !important;
}
.i-abi:hover {
  color: #009d87 !important;
}
.i-abi::after {
  background-color: rgba(1,97,100,0.8) !important;
}
.i-abi-op {
  background-color: rgba(1,162,166,0.3) !important;
  border: 1px solid #01a2a6 !important;
}
.i-abi-op:hover {
  background-color: rgba(1,162,166,0.5) !important;
}
.i-abi-op::after {
  background-color: rgba(1,162,166,0.8) !important;
}
.i-sorme {
  background-color: #6f6179;
  border: 1px solid #c2b9c7;
  overflow: hidden;
}
.i-sorme:hover {
  color: #009d87;
}
.i-sorme::after {
  background-color: rgba(132,116,143,0.8);
}
.i-alt {
  background-image: url("../img/DSVG/iconalt.svg");
  background-position: center center;
  background-size: 100% 100%;
}
.i-gerd {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.i-gerd:before {
  padding: 0.5rem 0.2rem 0 0.2rem;
}
.i-gerd::after {
  border-radius: 50%;
  left: -50%;
  right: -50%;
  top: -50%;
  bottom: -50%;
  transform: scale(0, 0);
}
.i-gerd:hover::after {
  transform: scale(1, 1);
  transition: all 0.3s ease-out;
}
.i-round {
  border-radius: 6px;
  padding: 0.1rem 1rem;
}
.i-round::after {
  top: 0;
  bottom: 0;
  left: 100%;
  right: -100%;
}
.vira {
  position: absolute;
  bottom: 5px;
  left: 8px;
  z-index: 9999;
}
.vira button {
  font-size: 16px;
  margin: 0 5px 5px 5px;
  padding: 0 5px;
  opacity: 0.6;
  width: 20px;
  height: 20px;
}
.vira button:hover {
  opacity: 1;
}
.virahazf {
  position: absolute;
  bottom: 5px;
  left: 58px;
  z-index: 9999;
}
.virahazf button {
  font-size: 16px;
  margin: 0 5px 5px 5px;
  padding: 0 5px;
  opacity: 0.6;
  width: 20px;
  height: 20px;
}
.virahazf button:hover {
  opacity: 1;
}
.viraimg {
  position: absolute;
  bottom: 0px;
  left: 10px;
  z-index: 9999;
}
.viraimg button {
  font-size: 16px;
  margin: 0 5px 5px 5px;
  padding: 0 5px;
  opacity: 0.6;
  width: 20px;
  height: 20px;
}
.viraimg button:hover {
  opacity: 1;
}
a.btn-edame {
  position: absolute;
  background-color: #bebebe;
  padding: 0.2rem 1.5rem;
  bottom: 10px;
  left: 8px;
  text-decoration: none;
  color: #f6f6f6;
  border-radius: 1rem;
  border-right: 1px solid #f6f6f6;
  border-left: 1px solid #f6f6f6;
}
a.btn-edame:after {
  content: '|';
  padding: 0.5rem;
}
a.btn-edame i {
  font-size: 1.8rem;
  position: absolute;
  top: -5px;
  left: 5px;
  padding: 0 0.4rem;
}
a.btn-edame:hover {
  background-color: #696969;
}
.btn-vorod {
  position: fixed;
  left: 0;
  top: 90px;
  z-index: 100;
}
.btn-vorod .log {
  position: absolute;
  left: 0;
  top: 0;
  height: 2rem;
  font-size: 1.1rem;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  width: 60px;
  text-decoration: none;
  text-align: center;
  color: #009d87;
  background: rgba(1,97,100,0.8);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  line-height: 2;
}
.btn-vorod .khoroj {
  background: rgba(130,0,0,0.7);
}
.btn-vorod .modiriyat a {
  cursor: pointer;
}
.btn-vorod .modiriyat .karbar {
  background-color: #01a2a6;
  position: absolute;
  top: 2rem;
  left: 0;
  width: 50px;
  height: 1.3rem;
  font-size: 1rem;
  padding-right: 0.8rem;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btn-vorod .modiriyat .email {
  background-color: #29d9c2;
  position: absolute;
  top: 3.3rem;
  left: 0;
  width: 50px;
  height: 1.3rem;
  font-size: 1rem;
  padding-right: 0.8rem;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
button:disabled {
  cursor: not-allowed !important;
  background-color: #7d7d7d !important;
  border: 1px solid #626262 !important;
  overflow: hidden !important;
}
button:disabled:hover {
  color: #bab8b8 !important;
}
button:disabled::after {
  background-color: #6e6e6e !important;
}
.icon-matn:disabled {
  background-color: transparent !important;
  border: none !important;
  overflow: visible !important;
}
.icon-matn:disabled i {
  cursor: not-allowed;
  background-color: #7d7d7d !important;
  border: 1px solid #626262 !important;
  overflow: hidden;
}
.icon-matn:disabled i:hover {
  color: #bab8b8 !important;
}
.icon-matn:disabled i::after {
  background-color: #6e6e6e !important;
}
.icon-matn:disabled span {
  cursor: not-allowed;
  background-color: #7d7d7d !important;
  border: 1px solid #626262 !important;
  overflow: hidden;
}
.icon-matn:disabled span:hover {
  color: #bab8b8 !important;
}
.icon-matn:disabled span::after {
  background-color: #6e6e6e !important;
}
.dognaghshe {
  color: rgba(47,41,51,0.9);
}
.dognaghshe:before {
  font-size: 3rem;
  margin-top: -0.8rem;
}
.icon-b {
  font-size: 2.2rem;
  line-height: 1;
}
.icon-b:before {
  padding: 0.2rem;
}
.dogme-group {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1rem;
  justify-content: space-around;
}
.dogme-group .dogme {
  width: 19%;
  margin: 0;
}
.form-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.form-tak {
  width: 100%;
  background-color: rgba(136,136,136,0.4);
  padding: 0.6rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: center;
}
@media (min-width: 690px) {
  .form-tak {
    width: 48.5%;
  }
}
.form-tak input,
.form-tak textarea,
.form-tak select {
  min-height: 2.6rem;
  width: 78%;
  font-size: 1.2rem;
  border: 1px solid #2f2933;
  padding: 0 1rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background-color: rgba(255,255,228,0.5);
}
.form-tak input:focus,
.form-tak textarea:focus,
.form-tak select:focus {
  background-color: #ffffed;
  outline: none;
}
.form-tak input:disabled,
.form-tak textarea:disabled,
.form-tak select:disabled {
  background-color: rgba(136,136,136,0.7);
}
.form-tak label {
  width: 22%;
  color: #fff;
  height: 2.5rem;
  background-color: rgba(0,228,196,0.1);
  font-size: 0.8rem;
  border: 1px solid #003f36;
  padding: 0 0.2rem;
  padding-top: 0.7rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.badogme {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.badogme .form-tak {
  width: 77%;
}
.badogme .form-tak input,
.badogme .form-tak textarea {
  width: 80%;
  margin: 0;
}
.badogme .form-tak label {
  width: 20%;
}
.badogme .dogme,
.badogme .vorod-bargozari {
  width: 21%;
  margin: 0;
  height: 3.2rem;
}
.form-field-div {
  display: flex;
  flex-flow: row wrap;
  width: 77%;
  height: 2rem;
}
.form-field-div .form-field-field {
  width: 100%;
}
.radio-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}
.radio-input .radio-field {
  box-shadow: none;
  width: 20%;
}
.radio-input .radio-matn {
  width: 80%;
  line-height: 3;
}
.radio-input .radio-matn input.ng-invalid,
.radio-input .radio-matn input.ng-invalid-required,
.radio-input .radio-matn textarea.ng-invalid,
.radio-input .radio-matn textarea.ng-invalid-required {
  border: 1px solid #f00 !important;
}
.radio-input .radio-matn .osentekhab {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
}
.radio-input .radio-matn .osentekhab li {
  list-style: none;
  width: 24%;
  cursor: pointer;
}
.radio-input .radio-matn .osentekhab li .aks img {
  width: 100%;
}
.taki {
  width: 100% !important;
}
.yekchar {
  width: 23%;
}
.yekhasht {
  width: 12.5%;
}
.form-search {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(132,116,143,0.3);
  border: 1px solid rgba(28,25,31,0.5);
  border-radius: 0.3rem;
  padding: 0.7rem 0.4rem;
  margin: 0 0 0.8rem 0;
}
.form-search .form-div-search {
  width: 29%;
  display: flex;
  flex-flow: column;
  background-color: rgba(132,116,143,0.3);
  border: 1px solid rgba(28,25,31,0.5);
  padding: 0.7rem 0.4rem;
  border-radius: 0.3rem;
}
.form-search .form-div-search >* {
  width: 100%;
}
.form-search .form-div-search label {
  text-align: center;
  font-size: 1rem;
  color: rgba(255,255,255,0.61);
  margin-bottom: 0.3rem;
}
.form-search .form-div-search input {
  min-height: 2.6rem;
  font-size: 1.2rem;
  border: 1px solid #2f2933;
  padding: 0 1rem;
  border-radius: 0.5rem;
  background-color: rgba(255,255,228,0.5);
}
.form-search .form-div-search input:focus {
  background-color: #ffffed;
  outline: none;
}
.form-search .form-div-search input:disabled {
  background-color: rgba(136,136,136,0.7);
}
.form-search .dogme {
  width: 9%;
  margin: 0;
}
.form-wrapper {
  background-color: #f6f6f6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eae8e8));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #eae8e8);
  background-image: -moz-linear-gradient(top, #f6f6f6, #eae8e8);
  background-image: -ms-linear-gradient(top, #f6f6f6, #eae8e8);
  background-image: -o-linear-gradient(top, #f6f6f6, #eae8e8);
  background-image: linear-gradient(top, #f6f6f6, #eae8e8);
  border-color: #dedede #bababa #aaa #bababa;
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 3px rgba(255,255,255,0.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
  -moz-box-shadow: 0 3px 3px rgba(255,255,255,0.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
  box-shadow: 0 3px 3px rgba(255,255,255,0.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
  margin: 0 auto 1rem auto;
  overflow: hidden;
  padding: 8px;
  width: 450px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
}
.form-wrapper #search {
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
  box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #999;
  height: 100%;
  padding: 10px;
  width: 79%;
}
.form-wrapper #search:focus {
  border-color: #aaa;
  -webkit-box-shadow: 0 1px 1px #bbb inset;
  -moz-box-shadow: 0 1px 1px #bbb inset;
  box-shadow: 0 1px 1px #bbb inset;
  outline: 0;
}
.form-wrapper #search:-moz-placeholder,
.form-wrapper #search:-ms-input-placeholder,
.form-wrapper #search::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
}
.form-wrapper #submit {
  background-color: #0483a0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#31b2c3), to(#0483a0));
  background-image: -webkit-linear-gradient(top, #31b2c3, #0483a0);
  background-image: -moz-linear-gradient(top, #31b2c3, #0483a0);
  background-image: -ms-linear-gradient(top, #31b2c3, #0483a0);
  background-image: -o-linear-gradient(top, #31b2c3, #0483a0);
  background-image: linear-gradient(top, #31b2c3, #0483a0);
  border: 1px solid #00748f;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset, 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset, 0 1px 0 #fff;
  box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset, 0 1px 0 #fff;
  color: #fafafa;
  cursor: pointer;
  height: 42px;
  font: 15px Arial, Helvetica;
  padding: 0;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  width: 19%;
}
.form-wrapper #submit:hover,
.form-wrapper #submit:focus {
  background-color: #31b2c3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0483a0), to(#31b2c3));
  background-image: -webkit-linear-gradient(top, #0483a0, #31b2c3);
  background-image: -moz-linear-gradient(top, #0483a0, #31b2c3);
  background-image: -ms-linear-gradient(top, #0483a0, #31b2c3);
  background-image: -o-linear-gradient(top, #0483a0, #31b2c3);
  background-image: linear-gradient(top, #0483a0, #31b2c3);
}
.form-wrapper #submit:active {
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.5) inset;
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.5) inset;
  box-shadow: 0 1px 4px rgba(0,0,0,0.5) inset;
  outline: 0;
}
.form-wrapper #submit::-moz-focus-inner {
  border: 0;
}
.modal-darbar {
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999999;
}
.modal {
  position: fixed;
  top: 5%;
  right: 5%;
  width: 90%;
  max-height: 90vh;
  background-color: rgba(255,255,255,0.9);
  border-radius: 3px;
  padding: 20px;
  overflow-y: auto;
  z-index: 99999999999999;
}
.modal h1 {
  color: rgba(35,31,32,0.8);
  margin: 0;
}
.h3-vaziyat-abo-hava {
  font-size: 3rem;
  color: #000;
  padding-right: 2rem;
  margin-bottom: 2rem;
}
.wrapper-weather {
  color: #000;
  background-color: currentColor;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 2rem 1rem;
}
.wrapper-weather .weather-item-btn {
  cursor: pointer;
  border-radius: 1rem;
  margin-left: 0.8rem;
  margin-top: 0.5rem;
}
.wrapper-weather .active-weather-item {
  border: 3px solid #fff;
  color: #000658;
  background-color: currentColor;
}
.icon-weather {
  position: relative;
  width: 12em;
  height: 10em;
  font-size: 1em; /* control icon size here */
}
.cloud {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 3.6875em;
  height: 3.6875em;
  margin: -1.84375em;
  background: currentColor;
  border-radius: 50%;
  box-shadow: -2.1875em 0.6875em 0 -0.6875em, 2.0625em 0.9375em 0 -0.9375em, 0 0 0 0.375em #fff, -2.1875em 0.6875em 0 -0.3125em #fff, 2.0625em 0.9375em 0 -0.5625em #fff;
}
.cloud:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -0.5em;
  display: block;
  width: 4.5625em;
  height: 1em;
  background: currentColor;
  box-shadow: 0 0.4375em 0 -0.0625em #fff;
}
.cloud:nth-child(2) {
  z-index: 0;
  background: #fff;
  box-shadow: -2.1875em 0.6875em 0 -0.6875em #fff, 2.0625em 0.9375em 0 -0.9375em #fff, 0 0 0 0.375em #fff, -2.1875em 0.6875em 0 -0.3125em #fff, 2.0625em 0.9375em 0 -0.5625em #fff;
  opacity: 0.3;
  transform: scale(0.5) translate(6em, -3em);
  animation: cloud 4s linear infinite;
}
.cloud:nth-child(2):after {
  background: #fff;
}
.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5em;
  height: 2.5em;
  margin: -1.25em;
  background: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 0 0.375em #fff;
  animation: spin 12s infinite linear;
}
.rays {
  position: absolute;
  top: -2em;
  left: 50%;
  display: block;
  width: 0.375em;
  height: 1.125em;
  margin-left: -0.1875em;
  background: #fff;
  border-radius: 0.25em;
  box-shadow: 0 5.375em #fff;
}
.rays:before,
.rays:after {
  content: '';
  position: absolute;
  top: 0em;
  left: 0em;
  display: block;
  width: 0.375em;
  height: 1.125em;
  transform: rotate(60deg);
  transform-origin: 50% 3.25em;
  background: #fff;
  border-radius: 0.25em;
  box-shadow: 0 5.375em #fff;
}
.rays:before {
  transform: rotate(120deg);
}
.cloud + .sun {
  margin: -2em 1em;
}
.rain,
.lightning,
.snow {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 3.75em;
  height: 3.75em;
  margin: 0.375em 0 0 -2em;
  background: currentColor;
}
.rain:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 1.125em;
  height: 1.125em;
  margin: -1em 0 0 -0.25em;
  background: #0cf;
  border-radius: 100% 0 60% 50%/60% 0 100% 50%;
  box-shadow: 0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2), -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2), -1.375em -0.125em 0 rgba(255,255,255,0.2);
  transform: rotate(-28deg);
  animation: rain 3s linear infinite;
}
.bolt {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.25em 0 0 -0.125em;
  color: #fff;
  opacity: 0.3;
  animation: lightning 2s linear infinite;
}
.bolt:nth-child(2) {
  width: 0.5em;
  height: 0.25em;
  margin: -1.75em 0 0 -1.875em;
  transform: translate(2.5em, 2.25em);
  opacity: 0.2;
  animation: lightning 1.5s linear infinite;
}
.bolt:before,
.bolt:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin: -1.625em 0 0 -1.0125em;
  border-top: 1.25em solid transparent;
  border-right: 0.75em solid;
  border-bottom: 0.75em solid;
  border-left: 0.5em solid transparent;
  transform: skewX(-10deg);
}
.bolt:after {
  margin: -0.25em 0 0 -0.25em;
  border-top: 0.75em solid;
  border-right: 0.5em solid transparent;
  border-bottom: 1.25em solid transparent;
  border-left: 0.75em solid;
  transform: skewX(-10deg);
}
.bolt:nth-child(2):before {
  margin: -0.75em 0 0 -0.5em;
  border-top: 0.625em solid transparent;
  border-right: 0.375em solid;
  border-bottom: 0.375em solid;
  border-left: 0.25em solid transparent;
}
.bolt:nth-child(2):after {
  margin: -0.125em 0 0 -0.125em;
  border-top: 0.375em solid;
  border-right: 0.25em solid transparent;
  border-bottom: 0.625em solid transparent;
  border-left: 0.375em solid;
}
.flake:before,
.flake:after {
  content: '\2744';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1.025em 0 0 -1.0125em;
  color: #fff;
  list-height: 1em;
  opacity: 0.2;
  animation: spin 8s linear infinite reverse;
}
.flake:after {
  margin: 0.125em 0 0 -1em;
  font-size: 1.5em;
  opacity: 0.4;
  animation: spin 14s linear infinite;
}
.flake:nth-child(2):before {
  margin: -0.5em 0 0 0.25em;
  font-size: 1.25em;
  opacity: 0.2;
  animation: spin 10s linear infinite;
}
.flake:nth-child(2):after {
  margin: 0.375em 0 0 0.125em;
  font-size: 2em;
  opacity: 0.4;
  animation: spin 16s linear infinite reverse;
}
@-moz-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes cloud {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: scale(0.5) translate(-200%, -3em);
  }
}
@-webkit-keyframes cloud {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: scale(0.5) translate(-200%, -3em);
  }
}
@-o-keyframes cloud {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: scale(0.5) translate(-200%, -3em);
  }
}
@keyframes cloud {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: scale(0.5) translate(-200%, -3em);
  }
}
@-moz-keyframes rain {
  0% {
    background: #0cf;
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2), -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2), -1.375em -0.125em 0 #0cf;
  }
  25% {
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2), -0.875em 1.125em 0 -0.125em #0cf, -1.375em -0.125em 0 rgba(255,255,255,0.2);
  }
  50% {
    background: rgba(255,255,255,0.3);
    box-shadow: 0.625em 0.875em 0 -0.125em #0cf, -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2), -1.375em -0.125em 0 rgba(255,255,255,0.2);
  }
  100% {
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2), -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2), -1.375em -0.125em 0 #0cf;
  }
}
@-webkit-keyframes rain {
  0% {
    background: #0cf;
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2), -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2), -1.375em -0.125em 0 #0cf;
  }
  25% {
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2), -0.875em 1.125em 0 -0.125em #0cf, -1.375em -0.125em 0 rgba(255,255,255,0.2);
  }
  50% {
    background: rgba(255,255,255,0.3);
    box-shadow: 0.625em 0.875em 0 -0.125em #0cf, -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2), -1.375em -0.125em 0 rgba(255,255,255,0.2);
  }
  100% {
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2), -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2), -1.375em -0.125em 0 #0cf;
  }
}
@-o-keyframes rain {
  0% {
    background: #0cf;
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2), -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2), -1.375em -0.125em 0 #0cf;
  }
  25% {
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2), -0.875em 1.125em 0 -0.125em #0cf, -1.375em -0.125em 0 rgba(255,255,255,0.2);
  }
  50% {
    background: rgba(255,255,255,0.3);
    box-shadow: 0.625em 0.875em 0 -0.125em #0cf, -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2), -1.375em -0.125em 0 rgba(255,255,255,0.2);
  }
  100% {
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2), -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2), -1.375em -0.125em 0 #0cf;
  }
}
@keyframes rain {
  0% {
    background: #0cf;
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2), -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2), -1.375em -0.125em 0 #0cf;
  }
  25% {
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2), -0.875em 1.125em 0 -0.125em #0cf, -1.375em -0.125em 0 rgba(255,255,255,0.2);
  }
  50% {
    background: rgba(255,255,255,0.3);
    box-shadow: 0.625em 0.875em 0 -0.125em #0cf, -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2), -1.375em -0.125em 0 rgba(255,255,255,0.2);
  }
  100% {
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2), -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2), -1.375em -0.125em 0 #0cf;
  }
}
@-moz-keyframes lightning {
  45% {
    color: #fff;
    background: #fff;
    opacity: 0.2;
  }
  50% {
    color: #0cf;
    background: #0cf;
    opacity: 1;
  }
  55% {
    color: #fff;
    background: #fff;
    opacity: 0.2;
  }
}
@-webkit-keyframes lightning {
  45% {
    color: #fff;
    background: #fff;
    opacity: 0.2;
  }
  50% {
    color: #0cf;
    background: #0cf;
    opacity: 1;
  }
  55% {
    color: #fff;
    background: #fff;
    opacity: 0.2;
  }
}
@-o-keyframes lightning {
  45% {
    color: #fff;
    background: #fff;
    opacity: 0.2;
  }
  50% {
    color: #0cf;
    background: #0cf;
    opacity: 1;
  }
  55% {
    color: #fff;
    background: #fff;
    opacity: 0.2;
  }
}
@keyframes lightning {
  45% {
    color: #fff;
    background: #fff;
    opacity: 0.2;
  }
  50% {
    color: #0cf;
    background: #0cf;
    opacity: 1;
  }
  55% {
    color: #fff;
    background: #fff;
    opacity: 0.2;
  }
}
.ghab-vorod {
  width: 40rem;
  align-self: center;
  min-width: 30rem;
}
.ghab-vorod h1 {
  text-align: center;
  font-size: 2rem;
}
.khoroj {
  text-align: center;
}
.khoroj .poshtzamine {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 4px #ffff28;
  position: relative;
}
.khoroj .poshtzamine .entezardidar {
  width: 100%;
}
.khoroj .poshtzamine .khodanegahdar {
  position: absolute;
  color: #136e62;
  bottom: 1rem;
  left: 1rem;
}
.address-darbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.address-mabda {
  width: 33%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(23,131,117,0.5);
  border: 1px solid #136e62;
  border-radius: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.address-mabda .titr {
  font-size: 1.3rem;
  color: #136e62;
  background-color: rgba(212,247,243,0.5);
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.address-mabda .titr-nim {
  color: #136e62;
  background-color: rgba(212,247,243,0.5);
  width: 49%;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}
.address-mabda .khode-address {
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  line-height: 2;
  width: 49%;
  padding: 0.4rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  background-color: rgba(255,255,193,0.2);
  position: relative;
}
.address-mabda .khode-address:before {
  font-size: 2rem;
  margin-left: 0.2rem;
}
.address-mabda .khode-address:hover {
  background-color: rgba(255,255,184,0.4);
  color: #016164;
}
.address-mabda .khode-address .tedad-ranande {
  padding: 0.3rem 1rem;
  background-color: rgba(255,50,50,0.3);
  border-radius: 0.5rem;
  position: absolute;
  left: 1rem;
  top: 20%;
}
.address-mabda .faal {
  background-color: rgba(255,255,184,0.4);
}
.address-mabda .font-riz {
  font-size: 0.8rem;
}
.khode-address-seta {
  width: 32% !important;
}
* {
  box-sizing: border-box;
  font-family: 'Shabnam', sans-serif !important;
}
body {
  direction: rtl;
  font-size: 1rem;
  background-color: #fff;
  color: #fff;
}
.darbar-asli {
  width: 100%;
}
.darbar-asli .tamam-safe {
  width: 100%;
}
.darbar-asli .pad-horizen {
  padding: 0 3rem;
}
.darbar-asli .pad-top {
  padding-top: 3.5rem;
}
.dar-flex-1 {
  display: flex;
}
.dar-flex-1 >* {
  flex: 1;
}
.dogm-modir {
  position: fixed;
  bottom: 0;
  left: 2rem;
  background-color: #a6a6a6;
  z-index: 2;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.dogm-modir:hover {
  background-color: #888;
}
.khane {
  min-height: 100vh;
}
.home-box {
  background-color: #000;
  border: 3px solid #d0d0d0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.home-middle {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #180040;
  padding: 0.5rem;
}
.home-middle .enter-gates {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  text-align: center;
}
.home-middle .enter-gates .with-icon {
  flex: 3;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
.home-middle .enter-gates .with-icon .text {
  flex: 3;
  color: #fee124;
}
.home-middle .enter-gates .with-icon .text h3 {
  font-size: 1.2rem;
}
@media (min-width: 1817px) {
  .home-middle .enter-gates .with-icon .text h3 {
    font-size: 2rem;
  }
}
.home-middle .enter-gates .with-icon .text h2 {
  font-size: 1.8rem;
}
@media (min-width: 1817px) {
  .home-middle .enter-gates .with-icon .text h2 {
    font-size: 4rem;
  }
}
.home-middle .enter-gates .with-icon img {
  flex: 1;
  height: 90%;
}
.home-middle .enter-gates .en-gates {
  flex: 1;
}
.home-middle .middle-col-1 {
  width: 20%;
  display: flex;
  flex-flow: column;
}
.home-middle .middle-col-1 .illigal-wares {
  flex: 2;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 2.5rem 1rem;
}
.home-middle .middle-col-1 .illigal-wares .illigal-col-1 {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.home-middle .middle-col-1 .illigal-wares .illigal-col-2 {
  flex: 4;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.home-middle .middle-col-1 .illigal-wares .illigal-col-2 img {
  height: 60%;
}
.home-middle .middle-col-1 .illigal-wares .illigal-col-3 {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.home-middle .middle-col-1 .illigal-wares h2 {
  color: #fee124;
  font-size: 2.5rem;
}
@media (min-width: 1817px) {
  .home-middle .middle-col-1 .illigal-wares h2 {
    font-size: 4rem;
  }
}
.home-middle .middle-col-1 .enter-men {
  flex: 1;
}
.home-middle .middle-col-2 {
  width: 59%;
  display: flex;
  flex-flow: column;
}
.home-middle .middle-col-2 .video-player {
  flex: 5;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.home-middle .middle-col-2 .video-player img {
  width: 105%;
}
.home-middle .middle-col-2 .gates {
  flex: 1;
  display: flex;
}
.home-middle .middle-col-2 .gates .enters {
  flex: 1;
  margin-left: 0.2rem;
  height: 100%;
  text-align: center;
  font-size: 2.5rem;
  padding-top: 1.5rem;
  background-color: #575757;
  color: #d1d1d1;
  cursor: pointer;
}
.home-middle .middle-col-2 .gates .enters:last-child {
  margin-left: 0;
}
.home-middle .middle-col-2 .gates .active-enter {
  background-color: #000;
  color: #00d67c;
}
.home-middle .middle-col-3 {
  width: 20%;
  display: flex;
  flex-flow: column;
}
.home-middle .middle-col-3 .weather {
  flex: 1;
  margin-bottom: 0.2rem;
  color: #000;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.home-middle .middle-col-3 .weather .weather-icon-wraper {
  flex: 2;
}
.home-middle .middle-col-3 .weather .city-details {
  flex: 3;
  color: #fee124;
}
.home-middle .middle-col-3 .weather .city-details h2 {
  font-size: 2rem;
}
@media (min-width: 1817px) {
  .home-middle .middle-col-3 .weather .city-details h2 {
    font-size: 3rem;
  }
}
.home-middle .middle-col-3 .weather .city-details h1 {
  font-size: 2.5rem;
}
@media (min-width: 1817px) {
  .home-middle .middle-col-3 .weather .city-details h1 {
    font-size: 4rem;
  }
}
.home-middle .middle-col-3 .oghat {
  flex: 3;
  margin-bottom: 0.2rem;
  color: #fee124;
  text-align: center;
}
.home-middle .middle-col-3 .oghat h2 {
  font-size: 2.5rem;
}
@media (min-width: 1817px) {
  .home-middle .middle-col-3 .oghat h2 {
    font-size: 4rem;
  }
}
.home-middle .middle-col-3 .oghat .oghat-date {
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
@media (min-width: 1817px) {
  .home-middle .middle-col-3 .oghat .oghat-date {
    font-size: 1.5rem;
  }
}
.home-middle .middle-col-3 .oghat .oghat-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
@media (min-width: 1817px) {
  .home-middle .middle-col-3 .oghat .oghat-details {
    font-size: 2rem;
  }
}
.home-middle .middle-col-3 .oghat .oghat-details .oghat-detail-1 {
  width: 59%;
  text-align: left;
  height: 3.2rem;
  color: #fff;
}
.home-middle .middle-col-3 .oghat .oghat-details .oghat-detail-2 {
  width: 37%;
  margin-right: 4%;
  text-align: right;
  height: 3.2rem;
  color: #fff;
}
.home-middle .middle-col-3 .enter-women {
  flex: 2;
}
.home-middle .middle-box {
  width: 100%;
  margin: 0 0 0.2rem 0.2rem;
}
.home-middle .middle-box:last-child {
  margin-bottom: 0;
}
.dar-nav {
  background-color: #009d87;
  width: 100%;
  height: 3.5rem;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dar-nav nav {
  margin: 0;
  width: 20%;
}
.dar-nav nav ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}
.dar-nav nav ul li a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  height: 3.5rem;
  line-height: 3.5rem;
  display: block;
  border-radius: 0.8rem;
}
.dar-nav nav ul li a:hover {
  background-color: #00b458;
}
.dar-nav .jostjo {
  width: 20%;
}
@media screen and (min-width: 768px) {
  .dar-nav nav ul {
    display: flex;
  }
  .dar-nav nav ul li {
    flex: 1 1 0;
  }
}
