.ghab-vorod
	width: 40rem
	align-self: center
	min-width: 30rem
	h1
		text-align: center
		font-size: 2rem

.khoroj
	text-align: center
	.poshtzamine
		width: 100%
		height: 20rem
		display: flex
		flex-flow: row wrap
		align-content: center
		justify-content: center
		align-items: center
		font-size: 2rem
		text-align: center
		color: lighten(bezh(1), 100%)
		text-shadow: 2px 2px 4px darken(bezh(1), 30%)
		position: relative
		.entezardidar
			width: 100%
		.khodanegahdar
			position: absolute
			color: darken(firoze(1), 50%)
			bottom: 1rem
			left: 1rem


.address-darbar
	display: flex
	flex-flow: row wrap
	justify-content: space-between

.address-mabda
	width: 33%
	padding: 1rem
	margin-bottom: 1rem
	background-color: darken(firoze(0.5), 40%)
	border: 1px solid darken(firoze(1), 50%)
	border-radius: 0.5rem
	display: flex
	flex-flow: row wrap
	justify-content: space-between
	.titr
		font-size: 1.3rem
		color: darken(firoze(1), 50%)
		background-color: lighten(firoze(0.5), 80%)
		width: 100%
		padding: 0.5rem
		text-align: center
		border-radius: 0.5rem
		margin-bottom: 1rem
	.titr-nim
		color: darken(firoze(1), 50%)
		background-color: lighten(firoze(0.5), 80%)
		width: 49%
		padding: 0.5rem
		text-align: center
		border-radius: 0.5rem
		margin-bottom: 0.5rem
	.khode-address
		color: white
		cursor: pointer
		font-size: 1rem
		line-height: 2
		width: 49%
		padding: 0.4rem
		border-radius: 0.5rem
		margin-bottom: 1rem
		background-color: lighten(bezh(0.2), 30%)
		position: relative
		&:before
			font-size: 2rem
			margin-left: 0.2rem
		&:hover
			background-color: lighten(bezh(0.4), 20%)
			color: darken(abi(1), 40%)
		.tedad-ranande
			padding: 0.3rem 1rem
			background-color: lighten(ghermez(0.3), 30%)
			border-radius: 0.5rem
			position: absolute
			left: 1rem
			top: 20%
	.faal
		background-color: lighten(bezh(0.4), 20%)
	.font-riz
		font-size: 0.8rem

.khode-address-seta
	width: 32% !important
