@require './omomi/moteghayer'
@require './omomi/omomi'
@require './effect/poshtzamine'
@require './effect/poshtzamine.resp'
@require './effect/btn'
@require './effect/input'
@require './effect/modal'
@require './effect/weather'

@require './khane/vorod'

@require 'omomi'
@require 'khane'
@require 'nav'
