@require './omomi/moteghayer'
@require './khane/khane'
@require './omomi/omomi'
@require './omomi/poyanemaei'
@require './effect/omghslider'
@require './effect/poshtzamine'
@require './effect/poshtzamine.resp'
@require './effect/btn'
@require './effect/aza'
@require './effect/input'
@require './effect/dialog'
@require './effect/modalslider'
@require './effect/modal'
@require './effect/naghshe'
@require './effect/karbar'
@require './effect/pasafe'
@require './effect/upload'
@require './effect/alert'
@require './effect/ghab'
@require './effect/map'
@require './effect/scrollbar'
@require './effect/weather'
@require './effect/selectBox'
@require './loader/loader'

@require './khane/vorod'
@require './effect/baghal'

@require 'omomi'
@require 'khane'
@require 'nav'
