.dar-nav
  background-color: #009d87
  width: 100%
  height: 3.5rem
  position: absolute
  top: 0
  right: 0
  display: flex
  justify-content: space-between
  align-items: center
  nav
    margin: 0
    width: 20%
    ul
      margin: 0
      list-style-type: none
      padding: 0
      li
        a
          text-decoration: none
          color: #fff
          text-align: center
          height: 3.5rem
          line-height: 3.5rem
          display: block
          border-radius: 0.8rem
          &:hover
            background-color: #00b458
  .jostjo
    width: 20%

@media screen and (min-width: 768px)
  .dar-nav
    nav
      ul
        display: flex
        li
          flex: 1 1 0
