*
  box-sizing: border-box
  font-family: 'Shabnam', sans-serif !important

body
  direction: rtl
  font-size: 1rem
  background-color: rgb(255, 255, 255)

.darbar-asli
  width: 100%
  .tamam-safe
    width: 100%
  .pad-horizen
    padding: 0 3rem
  .pad-top
    padding-top: 3.5rem

.dar-flex-1
  display: flex
  >*
    flex: 1

.dogm-modir
  position: fixed
  bottom: 0
  left: 2rem
  background-color: rgb(166, 166, 166)
  z-index: 2
  padding: 0.5rem
  border-radius: 0.5rem
  cursor: pointer
  &:hover
    background-color: rgb(136, 136, 136)
